<template>
  <span>
    <span> · </span>
    <span class="badge" :style="{ backgroundColor: scoreColor }">
      <span v-if="score.verifying" class="text">Verifying...</span>
      <span v-else>
        <span class="score">{{ scoreValue }}</span>
        <span class="text">{{ scoreText }}</span>
      </span>
    </span>
  </span>
</template>

<style scoped>
.badge {
  padding: 3px 6px;
  color: #fff;
  border-radius: 3px;
}

.badge .score {
  font-weight: bold;
}
</style>

<script>
var textIndex = [
  "Unknown",
  "Bad",
  "Fair",
  "Great",
  "Excellent"
];

var colorIndex = [
  "#888888",
  "#e67e22",
  "#f1c40f",
  "#1abc9c",
  "#2ecc71"
];

module.exports = {
  props: ["score"],
  methods: {
    getScoreIndex(value) {
      value = value || this.score.value;
      if (value >= 5.0) return 4;
      else if (value <= 0.0) return 0;
      else return Math.floor(value);
    },
  },
  computed: {
    scoreIndex() {
      return this.getScoreIndex();
    },
    scoreText() {
      return textIndex[this.scoreIndex];
    },
    scoreColor() {
      return colorIndex[this.scoreIndex];
    },
    scoreValue() {
      return parseFloat(this.score.value).toFixed(1);
    }
  }
};
</script>
